.cardEdit-main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.main-Edit{
    flex: 1;
  overflow-y: auto;
  height: 100%;
  padding-left: 220px;
  padding-top: 160px;

}